[Desktop Entry]
Version=1.0
Name=Hub
Comment=Graphical interface for the hub
Exec=hub
Icon=org.jah.hub
Terminal=false
Type=Application
Categories=GTK;Development;Utility;