[Desktop Entry]
Type=Application
Name=Atomizer
Exec=atomizer %U
Icon=org.jah.atomizer
Categories=GTK;Development;Utility;
Terminal=false
DBusActivatable=true
StartupWMClass=org.hackia.atomizer
