[Desktop Entry]
Version=1.0
Name=Flow
Comment=A Client interface for jah
Exec=flow
Icon=application-x-executable
Terminal=false
Type=Application
Categories=GTK;Development;Utility;